
<div class="nav-header">
    <div class="brand-logo">
        <a  asp-controller="Home" asp-action="index">
            <b class="brand-title logo-text ml-1"><span class="font-weight-bold"> Ev Şef</span> </b>
            <!--<span class="logo-compact"><img src="./images/logo.ico" alt="" width="20" height="20" ></span>-->
            <span class="">
                <img src="/panel/images/logo.ico" alt="" width="50" height="50">
            </span>
        </a>
    </div>
</div>