<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_metaTags" />
    <title>@ViewData["Title"] - EvSef</title>
    <partial name="__HeaderReferencesCommon" />
    <partial name="_HeaderReferencesMain" />
 

</head>
<body>

    @await Component.InvokeAsync("SiteHeader")
    @await Component.InvokeAsync("SiteSearch")

    <partial name="LoginModalPartial" />
 


    <div class="container-fluid px-0">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    @await Component.InvokeAsync("SiteFooter")
    <partial name="_FooterReferences" />
 

    @await RenderSectionAsync("Scripts", required: false)
    <partial name="_Notification" />
    <partial name="_ValidationScriptsPartial" />
</body>
</html>
