@using EvSef.Domain.Entities.Food
@using EvSef.Domain.ViewModels.FoodCategory
@model EvSef.Domain.ViewModels.Food.CreateFoodViewModel
@{
    ViewData["Title"] = "Create Food ByAdmin";
    List<FoodCategoryViewModel>? foodCategory = ViewData["FoodCategory"] as List<FoodCategoryViewModel>;
}


<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Create Food</a></li>
        </ol>
    </div>
</div>


<div class="content-body">

    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="basic-form">
                            <form asp-controller="food" asp-action="CreateFoodByAdmin" method="post" enctype="multipart/form-data">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label asp-for="FoodTitle">Food Title</label>
                                        <input asp-for="FoodTitle" type="text" class="form-control">
                                        <span asp-validation-for="FoodTitle"></span>
                                    </div>


                                    <div class="form-group col-md-6">
                                        <label asp-for="FoodAvatar">Food Avatar</label>
                                        <input asp-for="FoodAvatar" class="form-control" placeholder="Avatar">
                                        <span asp-validation-for="FoodAvatar"></span>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label asp-for="FoodDescription">Food Description</label>
                                    <textarea asp-for="FoodDescription" type="text" class="form-control"></textarea>
                                    <span asp-validation-for="FoodDescription"></span>
                                </div>

                                <div class="form-group">
                                    <div class="form-check">
                                        <input id="checkbox"  class="form-check-input" type="checkbox" asp-for="IsActive">
                                        <label for="checkbox" class="form-check-label">Active</label>
                                    </div>
                                </div>
                                
                                @if (foodCategory != null)
                                {
                                    <div class="form-group">
                                        <div class="form-check">

                                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                            <label >Food Category Lis</label>

                                            <ul>
                                       
                                                @foreach (var foodCat in foodCategory)
                                                {
                                                    <li >
                                                        <input class="form-check-input" name="SelectedFoodCategory" type="checkbox" value="@foodCat.FoodCategoryId" id="categoryCheckbox">
                                                        <label for="categoryCheckbox">@foodCat.FoodCategoryTitle</label>
                                                    </li>
                                                }
                                                <span asp-validation-for="SelectedFoodCategory"></span>
                                            </ul>
                                        </div>
                                    </div>

                                }
                           

                                <div class="col-md-12 col-sm-12">
                                    <div class=" ">
                                        <button type="submit" class="button-body btn mb-1 btn-lg custom-btn-create button-float">Create Food </button>

                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

