@model EvSef.Domain.ViewModels.CustomFood.CreateCustomFoodViewModel

@{
    ViewData["Title"] = "CreateCustomFoodByAdmin";
}

 

<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Create Custom Food</a></li>
        </ol>
    </div>
</div>


<div class="content-body">

    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="basic-form">
                            <form asp-controller="CustomFood" asp-action="CreateCustomFoodByAdmin" method="post" enctype="multipart/form-data">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label asp-for="CustomFoodTitle">Custom Food Title</label>
                                        <input asp-for="CustomFoodTitle" type="text" class="form-control">
                                        <span asp-validation-for="CustomFoodTitle"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="CustomFoodDescription">Custom Food Description</label>
                                        <input type="text" asp-for="CustomFoodDescription" class="form-control">
                                        <span asp-validation-for="CustomFoodDescription"></span>
                                    </div>


                                    <div class="form-group col-md-6">
                                        <label asp-for="CustomFoodPhoto">Custom Food Photo</label>
                                        <input asp-for="CustomFoodPhoto" class="form-control">
                                        <span asp-validation-for="CustomFoodPhoto"></span>
                                    </div>


                                    <div class="form-group mt-5 ml-5">
                                        <div class="form-check">
                                            <input id="checkbox" class="form-check-input" type="checkbox" asp-for="IsActive">
                                            <label for="checkbox" class="form-check-label">Active</label>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-md-12 col-sm-12">
                                    <div class=" ">
                                        <button type="submit" class="button-body btn mb-1 btn-lg custom-btn-create button-float">Create Custom Food</button>

                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





