
@{
    ViewData["Title"] = "CustomMenu";
    Layout = "_UserPanelLayout";
}


<!--**********************************
  Content body start
  ***********************************-->
<div class="cart-history-page">
    <div class="content-body container">

        <div class="row page-titles">
            <div class="col p-md-0 address-col">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0)">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="javascript:void(0)">Custom Menu</a>
                    </li>
                </ol>
            </div>
        </div>
        <!-- row -->

        <div class="container-fluid">
        </div>
    </div>
    <!-- #/ container -->
    <!--********** Content body end *****************-->

    <div class="container">
        <div class="row">
            <div class="col-lg-12">


                <div class="card bg-gray">
                    <div class="card-body">

                        <div class="basic-list-group">
                            <div class="row">

                                <partial name="_NavUserPanelMenu" />

                                <!--** User Cart History-->
                                <div class="col-xl-8 col-md-12 data-col">

                                    <!--<div class="alert alert-danger">

                                    </div>-->
                                    <h5 class="card-header ">

                                        <i class="fa fa-user">
                                            <strong><span>Your Custom Menu</span></strong>
                                        </i>


                                    </h5>
                                    <div class="col-lg-12">
                                        <div class="card d-none d-md-block">
                                            <div class="card-body">

                                                <div class="table-responsive w-100">
                                                    <table class="table">
                                                        <thead>
                                                            <tr class="text-center">
                                                                <th>Food Name</th>
                                                                <th>Amount</th>
                                                                <th>Number</th>
                                                                <th>Date</th>
                                                                <th>Payment Type</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody class="text-center">
                                                            <tr>
                                                                <td>Pitza</td>
                                                                <td>200 TL</td>
                                                                <td>
                                                                    5
                                                                </td>
                                                                <td>January 22</td>
                                                                <td>Door</td>
                                                                <td>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-block d-md-none mobile-cards">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="food-name">pitza</h5>
                                                    <span>Amount: 200 TL</span>
                                                    <span>Number: 5</span>
                                                    <span>Date: January 22</span>
                                                    <span>Payment Type: Door</span>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="food-name">pitza</h5>
                                                    <span>Amount: 200 TL</span>
                                                    <span>Number: 5</span>
                                                    <span>Date: January 22</span>
                                                    <span>Payment Type: Door</span>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="food-name">pitza</h5>
                                                    <span>Amount: 200 TL</span>
                                                    <span>Number: 5</span>
                                                    <span>Date: January 22</span>
                                                    <span>Payment Type: Door</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--** End User Custom Menu History-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>



