
@{
    ViewData["Title"] = "Help";
    Layout = "_UserPanelLayout";
}



<!--**********************************
Content body start
***********************************-->
<div class="profilePage">
    <div class="content-body container">

        <div class="row page-titles">
            <div class="col p-md-0 address-col">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0)">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="javascript:void(0)">Profile</a>
                    </li>
                </ol>
            </div>
        </div>
        <!-- row -->

        <div class="container-fluid">
        </div>
    </div>
    <!-- #/ container -->
    <!--**********************************
    Content body end
    ***********************************-->

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card bg-gray">
                    <div class="card-body">

                        <div class="basic-list-group">
                            <div class="row">
                                <partial name="_NavUserPanelMenu" />


                                <div class="col-xl-8 col-md-12 data-col">

                                    <!--<div class="alert alert-danger">

                                    </div>-->

                                    <div class="col-lg-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">Help</h4>
                                                <p class="text-muted">
                                                    <code></code>
                                                </p>
                                                <div id="accordion-two" class="accordion">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h5 class="mb-0" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1"><i class="fa" aria-hidden="true"></i>  Question Tittle 1 </h5>
                                                        </div>
                                                        <div id="collapseOne1" class="collapse show" data-parent="#accordion-two">
                                                            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2"><i class="fa" aria-hidden="true"></i> Question Tittle 2</h5>
                                                        </div>
                                                        <div id="collapseTwo2" class="collapse" data-parent="#accordion-two">
                                                            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3"><i class="fa" aria-hidden="true"></i> Question Tittle 3</h5>
                                                        </div>
                                                        <div id="collapseThree3" class="collapse" data-parent="#accordion-two">
                                                            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>





                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 

 
 