
@{
    ViewData["Title"] = "UserProfile";
    Layout = "_UserPanelLayout";
}


<!--**********************************
  Content body start
  ***********************************-->
<div class="profilePage">
    <div class="content-body container ">

        <div class="row page-titles">
            <div class="col p-md-0 address-col">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0)">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="javascript:void(0)">Profile</a>
                    </li>
                </ol>
            </div>
        </div>
        <!-- row -->

        <div class="container-fluid">
        </div>
    </div>
    <!-- #/ container -->
    <!--**********************************
    Content body end
    ***********************************-->


    <div class="container">
        <div class="row">
            <div class="col-lg-12">


                <div class="card bg-gray">
                    <div class="card-body">

                        <div class="basic-list-group">
                            <div class="row">
                                <partial name="_NavUserPanelMenu" />



                                <div class="col-xl-8 col-md-12 data-col">

                                    <!--<div class="alert alert-danger">

                                    </div>-->

                                    <div class="card mb-4">

                                        <!-- Account -->
                                        <div class="card-body">
                                            <div class="d-flex align-items-start align-items-sm-center gap-4">
                                                <img src="img/default.jpg"
                                                     alt="user-avatar"
                                                     class="d-block rounded"
                                                     height="100"
                                                     width="100"
                                                     id="uploadedAvatar" />
                                                <div class="button-wrapper">
                                                    <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                                        <span class="d-none d-sm-block">Upload new photo</span>
                                                        <i class="bx bx-upload d-block d-sm-none"></i>
                                                        <input type="file"
                                                               id="upload"
                                                               class="account-file-input"
                                                               hidden
                                                               accept="image/png, image/jpeg" />
                                                    </label>

                                                    <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="my-0" />
                                        <div class="card-body">
                                            <form id="formAccountSettings" method="POST" onsubmit="return false">
                                                <div class="row">
                                                    <div class="mb-3 col-md-6">
                                                        <label for="firstName" class="form-label">First Name</label>
                                                        <input class="form-control"
                                                               type="text"
                                                               id="firstName"
                                                               name="firstName"
                                                               value="Zehra"
                                                               autofocus />
                                                    </div>
                                                    <div class="mb-3 col-md-6">
                                                        <label for="lastName" class="form-label">Last Name</label>
                                                        <input class="form-control" type="text" name="lastName" id="lastName" value="asadi" />
                                                    </div>
                                                    <div class="mb-3 col-md-6">
                                                        <label for="email" class="form-label">E-mail</label>
                                                        <input class="form-control"
                                                               type="text"
                                                               id="email"
                                                               name="email"
                                                               value="zehra@example.com"
                                                               placeholder="zehra@example.com" />
                                                    </div>
                                                    <div class="mb-3 col-md-6">
                                                        <label for="organization" class="form-label">Organization</label>
                                                        <input type="text"
                                                               class="form-control"
                                                               id="organization"
                                                               name="organization"
                                                               value="Yatash" />
                                                    </div>
                                                    <div class="mb-3 col-md-6">
                                                        <label class="form-label" for="phoneNumber">Phone Number</label>
                                                        <div class="input-group input-group-merge">
                                                            <span class="input-group-text">Turkey (+90)</span>
                                                            <input type="text"
                                                                   id="phoneNumber"
                                                                   name="phoneNumber"
                                                                   class="form-control"
                                                                   placeholder="543 555 0111" />
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 col-md-6">
                                                        <label for="address" class="form-label">Address</label>
                                                        <input type="text" class="form-control" id="address" name="address" placeholder="Address" />
                                                    </div>
                                                    <div class="mb-3 col-md-6">
                                                        <label for="state" class="form-label">State</label>
                                                        <input class="form-control" type="text" id="state" name="state" placeholder="Bostanli" />
                                                    </div>
                                                    <div class="mb-3 col-md-6">
                                                        <label for="zipCode" class="form-label">Zip Code</label>
                                                        <input type="text"
                                                               class="form-control"
                                                               id="zipCode"
                                                               name="zipCode"
                                                               placeholder="231465"
                                                               maxlength="6" />
                                                    </div>
                                                </div>
                                                <div class="mt-2">
                                                    <button type="submit" class="btn btn-primary me-2 btn-save">Save changes</button>
                                                    <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- /Account -->
                                    </div>

                                </div>





                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



