@model EvSef.Domain.ViewModels.JoinUs.CreateJoinUsViewModel
@{
    ViewData["Title"] = "CreateJoinUsByAdmin";
}


<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Create JoinUs</a></li>
        </ol>
    </div>
</div>


<div class="content-body">

    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="basic-form">
                            <form asp-controller="JoinUs" asp-action="CreateJoinUsByAdmin" method="post" enctype="multipart/form-data">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label asp-for="JoinUsTitle">JoinUs Title</label>
                                        <input asp-for="JoinUsTitle" type="text" class="form-control">
                                        <span asp-validation-for="JoinUsTitle"></span>
                                    </div>


                                    <div class="form-group col-md-6">
                                        <label asp-for="JoinUsAvatar">JoinUs Avatar</label>
                                        <input asp-for="JoinUsAvatar" class="form-control" placeholder="Avatar">
                                        <span asp-validation-for="JoinUsAvatar"></span>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label asp-for="JoinUsDescription">JoinUs Description</label>
                                    <textarea asp-for="JoinUsDescription" type="text" class="form-control"></textarea>
                                    <span asp-validation-for="JoinUsDescription"></span>
                                </div>

                                <div class="form-group">
                                    <div class="form-check">
                                        <input id="checkbox" class="form-check-input" type="checkbox" asp-for="IsActive">
                                        <label for="checkbox" class="form-check-label">Active</label>
                                    </div>
                                </div>




                                <div class="col-md-12 col-sm-12">
                                    <div class=" ">
                                        <button type="submit" class="button-body btn mb-1 btn-lg custom-btn-create button-float">Create JoinUs </button>

                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




